.nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    position: absolute;
    width: 95% ;
    height: 100px;
    background-color: white;
    top: 40px;
    left: 40px;
    z-index:10;
}
.op{
    text-decoration: none;
    color: #232323;
}
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.person-icon , .bag-icon , .bell-icon , .search-icon{
    background-color: #FCFCFC;
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.tabs{
    display: flex;
    padding: 0;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;

}
.logo{
    width: 80px;
}

li{
    font-weight: bold;
}
li .op:hover{
    color: #DF9180;
    transition: 0.3s;
}

.fixedNavbar{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    animation: fixedNav 0.5s linear;
}
@keyframes fixedNav {
        0%{
            /* transform: translateY(px); */
            top:-140px;
        }
        100%{
            /* transform : translateY(140px); */
            top:0px;
        }
    }

.unFixedNavbar{
    top:40px;
    left: 40px;
    width: 95%;
    position: absolute;
    animation: unFixedNavbar 0.3s linear;
}
@keyframes unFixedNavbar {
        0%{
            /* transform: translateY(px); */
            top: 0px;
        }
        100%{
            /* transform : translateY(140px); */
            top: 40px;
        }
    }

.bars-icon-div{
    display: none;
}
.bars-icon{
    color: black;
    font-size: 20px;
    border: none;
    background-color: white;
}
@media (max-width:800px){
    .unFixedNavbar{
        top: 0;
        left: 0;
        width: 100%;
    }
    .bars-icon-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabs ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 80px;
        margin: 90px 90px;
        padding: 50px;
    }
    .icons{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-around;
        gap: 70%;
    }
    
}